---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import OthersNews from "../components/OthersNews.astro";
---

<Layout title="News Homepage">
	<div class="min-h-screen w-full overflow-hidden">
		<Header />
		<OthersNews />
	</div>
</Layout>


