---
import NewsModel from "../model/NewsModel.astro";
---

<section class="min-h-full w-full md:w-[350px] p-4 bg-very-dark-blue mt-12 md:mt-0 md:mx-6">
  <h3 class="text-2xl font-bold text-soft-orange">New</h3>

  <div class="mt-5 flex flex-col justify-center items-center space-y-6 text-left">
    
    <NewsModel title="Hydrogen VS Electric Cars" text="Will hydrogen-fueled cars event catch up to EVs?" />
    <NewsModel title="The Downsides of AI Artistry" text="What are the possible adverse effects of on-demand AI image generation?" />
    <NewsModel title="Is VC Funding Driying Up?" text="Private funding by VC firms is down 50% YOY. We take a look at what that means." />
    
  </div>
</section>