---
import HeroLeftSection from "./HeroLeftSection.astro";
import HeroRightSection from "./HeroRightSection.astro";
---

<section class="w-full h-full flex flex-col flex-wrap md:flex-row pt-12">
  <HeroLeftSection />
  <HeroRightSection />
</section>


