---
import headerImage from '/images/image-web-3-desktop.jpg';
---

<section class="w-2/3">
  <figure class="w-full">
    <img src={headerImage} alt="First notice">
  </figure>
  <div class="w-full flex items-center justify-between">
    <div class="w-1/2">
      <h1 class="font-bold text-7xl mt-4 w-fit">The Bright Future of Web 3.0?</h1>
    </div>
    <div class="w-1/2">
      <p class="text-dark-grayish-blue leading-loose font-medium text-base">
        We dive into the next evolution of the web that claims to put the power of the platform back into the hands of the people. But is it really fulfilling its promise?
      </p>
      <button class="mt-4 text-white w-3/5 h-16 bg-soft-orange uppercase text-xl font-bold tracking-widest transiton-all duration-300 cursor-pointer hover:bg-very-dark-blue">
        Read More
      </button>
    </div>
  </div>
</section>