---
import LeftMainSection from "./LeftMainSection.astro";
import RightMainSection from "./RightMainSection.astro";
---

<main class="w-full h-full flex justify-center px-12">
  <LeftMainSection />
  <RightMainSection />
</main>