---
import logo from '/images/logo.svg';
---

<div class="flex items-center justify-between">
  <img src={logo} alt="Logo of the notice portal">  

  <ul id="menu" class="flex flex-col md:flex-row items-start md:items-center space-x-0 md:space-x-10 bg-black md:bg-transparent absolute md:static top-0 right-0 h-[550px] md:h-fit w-2/3 md:w-fit justify-center space-y-5 md:space-y-0 px-5 md:px-0 transition-all duration-300 translate-x-full md:translate-x-80">

    <button id="close" class="text-white absolute top-10 right-10 visible md:invisible">
      <svg class="w-8 h-8 fill-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M310.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 210.7 54.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L114.7 256 9.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 301.3 265.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L205.3 256 310.6 150.6z"/></svg>
    </button>

    <li class="font-medium text-dark-grayish-blue transition-all duration-300 cursor-pointer hover:text-soft-orange">Home</li>
    <li class="font-medium text-dark-grayish-blue transition-all duration-300 cursor-pointer hover:text-soft-orange">New</li>
    <li class="font-medium text-dark-grayish-blue transition-all duration-300 cursor-pointer hover:text-soft-orange">Popular</li>
    <li class="font-medium text-dark-grayish-blue transition-all duration-300 cursor-pointer hover:text-soft-orange">Trending</li>
    <li class="font-medium text-dark-grayish-blue transition-all duration-300 cursor-pointer hover:text-soft-orange">Categories</li>
  </ul>

  <button id="btn" class="md:invisible visible">
    <svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg>
  </button>
</div>

<script>
  const btnOpen = document.querySelector('#btn');
  const btnClose = document.querySelector('#close');
  const menu = document.querySelector('#menu');

  btnOpen?.addEventListener('click', () => {
   if(menu?.classList.contains('translate-x-full')) {
    menu?.classList.remove('translate-x-full');
   }
  })

  btnClose?.addEventListener('click', () => {
   if(!menu?.classList.contains('translate-x-full')) {
    menu?.classList.add('translate-x-full');
   }
  })
</script>