---
---

<section class="w-1/3 h-full ml-8 p-6 bg-very-dark-blue flex flex-col space-y-8">
  <h2 class="w-full font-bold text-soft-orange text-4xl">New</h2>

  <div class="pb-4 border-b-2 border-dark-grayish-blue">
    <h3 class="font-bold text-off-white text-2xl mb-4 cursor-pointer transition-all duration-300 hover:text-soft-orange">Hydrogen VS Electric Cars</h3>
    <p class="text-grayish-blue font-medium text-lg">Will hydrogen-fueled cars ever catch up to EVs?</p>
  </div>

  <div class="pb-4 border-b-2 border-dark-grayish-blue">
    <h3 class="font-bold text-off-white text-2xl mb-4 cursor-pointer transition-all duration-300 hover:text-soft-orange">The Downsides of AI Artistry</h3>
    <p class="text-grayish-blue font-medium text-lg">What are the possible adverse effects of on-demand AI image generation?</p>
  </div>

  <div class="pb-4">
    <h3 class="font-bold text-off-white text-2xl mb-4 cursor-pointer transition-all duration-300 hover:text-soft-orange">Is VC Funding Drying Up?</h3>
    <p class="text-grayish-blue font-medium text-lg">Private funding by VC firms is down 50% YOY. We take a look at what that means.</p>
  </div>
</section>